.ds-header {
    position: fixed;
    z-index: 1;
    background: $white;
    height: 84px;
    width: 100%;
    // box-shadow: 0px 0px 4px #e5e5e5;
    z-index: 200;
    background: #fafafa;
    @include sm {
        height: 64px;
    }

    // -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
    // -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
    // box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
    a {
        color: unset;
        text-decoration: unset;
    }
    .btn-menu {
        width: 79px;
        // height: 32px;
        background: #f4f4f4;
        border-radius: 4px;
        .content {
            padding: 11px;
            .text {
                font-family: Open Sans;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                /* identical to box height */

                /* Text - Primary */

                color: #3a3a3a;

                /* Inside Auto Layout */

                flex: none;
                order: 1;
                flex-grow: 0;
                margin: 0px 4px;
            }
        }
    }
    .iconDS {
        height: 44px;
        min-width: 163px;
        @include sm {
            height: 28px;
            min-width: 104px;
        }
        img {
            cursor: pointer;
        }
    }
    .list-menu {
        @include md {
            display: none;
        }
        ul,
        ol {
            list-style: none;
            gap: 28px;

            @include md {
                gap: 20px;
            }
            .active {
                color: #005f61;
            }
            li {
                cursor: pointer;
                font-family: Open Sans;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
                color: #040404;
                @include lg {
                    font-size: 16px;
                }
            }
            li:hover {
                color: #4e4e4e;
            }
        }
    }
}
.line-btm {
    box-shadow: 0px 0px 4px #e5e5e5;
    color: #e8e8e8;
}
.active_h {
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
}
