.ds-section-intro {
    min-height: 593px;
    width: 100%;
    padding-top: 80px;
    .left-side {
        .text-annual {
            @include font-face($font-opensans, 2rem, 700);
            line-height: 27px;
            text-align: left;
            color: $text-secondary;
        }
        .text-desc {
            @include font-face($font-opensans, 4.8rem, 700);
            line-height: 60px;
            color: $primary-black;
            max-width: 570px;
            width: 100%;
        }
    }
    &-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 13px 29.5px;
        background: #005f61;
        border-radius: 4px;
        width: fit-content;
        margin-top: 48px;
        //font
        @include font-face($font-opensans, 1.6rem, 700);
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.01em;
        color: $white;
        flex: none;
        order: 0;
        flex-grow: 0;
        // margin: 0px 10px;
    }
}
