.ds-funding {
    padding-top: 80px;
    @include sm {
        padding-top: 60px;
    }
    &-startup {
        // padding-bottom: 82px;
        .wrapping-box {
            background: #ffffff;
            box-shadow: 0px 0px 20px #eaeaea;
            border-radius: 20px;
            width: 100%;
            height: fit-content;
            padding: 42px 48px;
            // grid-template-columns: repeat(6, 1fr);
            // grid-row: auto;
            max-width: 1110px;
            // display: grid;
            // background-color: #000;
            // grid-gap: 1px;
            .mini-box {
                height: 90px;
                max-width: 180px;
                min-width: 130px;
                margin: 0 -1px -1px 0;
                // border: 1px solid rgb(97, 97, 97);
                &::before {
                    content: "";
                    position: absolute;
                    // match the grid gap for border thickness
                    top: -1px;
                    right: -1px;
                    bottom: -1px;
                    left: -1px;
                    // this becomes the border, and handles overlap
                    background-color: #ddd;
                }
            }
            .border-btm {
                border-bottom: 1px solid #f4f4f4;
            }
            .border-right {
                border-right: 1px solid #f4f4f4;
            }
        }
    }
    .desc {
        font-family: Open Sans;
        z-index: 101;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        max-width: 350px;
        color: #000000;
        margin-bottom: 40px;
        @include sm {
            font-size: 1.6rem;
            line-height: 2.8rem;
        }
        &-date {
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 26px;
            text-align: right;
            color: #4e4e4e;
            flex: none;
            order: 1;
            flex-grow: 0;
            margin: 28px 0px;
            padding-bottom: 82px;
            @include sm {
                font-size: 1.6rem;
                line-height: 2.8rem;
            }
        }
    }
    .number {
        z-index: 101;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 65px;
        text-align: center;
        color: #000000;
        @include sm {
            font-size: 3.6rem;
            line-height: 4.9rem;
        }
    }
}

.grid {
    background: #ffffff;
    // box-shadow: 0px 0px 20px #eaeaea;
    // border-radius: 20px;
    // width: 100%;
    // height: fit-content;
    // padding: 42px 48px;
    // grid-template-columns: repeat(6, 1fr);
    // grid-row: auto;
    max-width: 1014px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    // prevents ::before borders from looking offset if not enough cells
    grid-gap: 1px;
    // remove the edge borders
    overflow: hidden;
}

.grid-cell {
    position: relative;

    // create the illusion of a border
    &::before {
        content: "";
        position: absolute;
        // match the grid gap for border thickness
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        // this becomes the border, and handles overlap
        background-color: #f4f4f4;
    }
}

.cell-content {
    height: 106px;
    max-width: 180px;
    min-width: 130px;
    position: relative;
    // fill in the cell color
    background-color: #fff;
}
// .img {
//     max-height: 56px;
// }
.funding {
    @extend .img;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    max-width: fit-content;
    /* identical to box height */
    margin-top: 12px;
    text-align: center;

    /* Text - Secondary */

    color: #4e4e4e;
    @include sm {
        line-height: 30px;
        max-width: unset;
    }
}
.testing {
    .slick-track {
        max-width: 1000px !important;
    }
    .slick-slide > div {
        // transform: scale(0.5);
        margin-left: 30px;
        margin-top: 30px;
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        @include sm {
            min-width: 343px !important;
            min-height: 474px !important;
            margin-left: 27px;
            margin-top: 15px;
        }
    }
    .slick-arrow,
    .slick-next,
    .slick-prev {
        display: none !important;
    }
    .slick-slide,
    .slick-active,
    .slick-current {
        @include sm {
            min-width: 343px !important;
            width: 100%;
            margin-left: 15px;
            margin-top: 15px;
        }
    }

    .slick-center > div {
        transform: scale(1);
    }

    .slider__item > img {
        width: 100%;
        height: auto;
    }
}
.fund-person {
    margin-top: 36px;
    @include sm {
        margin-top: 24px;
    }
}
