.ds-section {
  &__readers {
    padding: 100px 0;
    background: #101010;
    overflow: hidden;
    @include md() {
      padding: 60px 0;
    }
    &-inner {
      gap: 95px;
      margin-bottom: 100px;
      @include md() {
        gap: 28px;
        margin-bottom: 60px;
      }

      &:last-child {
        margin-bottom: 0;
        @include md() {
          margin-bottom: 60px;
        }
      }
    }

    p {
      color: $white;
    }

    &-img {
    }

    &-desc {
      &.right {
        order: 1;
        @include rwd(1024) {
          order: 0;
        }
      }
      &-title {
        @include font-face($font-opensans, 3.6rem, 700);
        line-height: 50px;
        margin-bottom: 12px;
        @include md() {
          font-size: 2.4rem;
          margin-bottom: 8px;
          line-height: 36px;
        }
      }

      &-content {
        @include font-face($font-opensans, 1.8rem);
        line-height: 30px;
        margin-bottom: 28px;
      }

      &-date {
        @include font-face($font-opensans, 1.6rem);
        line-height: 26px;
      }
    }


    .skeleton {
      .ds-section__readers {
        &-img {
          max-width: 475px;
          height: 400px !important;
          @include background-skeleton(5px);          
          @include rwd(1024) {
            height: auto !important;
            margin: 0 auto !important;
            padding-bottom: 80%;
          }
        }
        
        &-desc {
          &-title {
            max-width: 550px;
            height: 40px !important;
            @include background-skeleton(5px);  
          }

          &-content {
            max-width: 500px;
            height: 30px !important;
            @include background-skeleton(5px);  
          }

          &-date {
            max-width: 200px;
            height: 30px !important;
            @include background-skeleton(5px);      
          }
        }
      }
    }
  }
}