.ds-our-act {
    padding-top: 100px;
    padding-bottom: 116px;
    &-desc {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        color: #040404;
        max-width: 635px;
        width: 100%;
    }
    &-boxAct {
        background: linear-gradient(180deg, #005f61 0%, rgba(0, 92, 92, 0.94) 100%);
        border-radius: 20px;
        max-width: 380px;
        height: fit-content;
        min-height: 740px;
        height: 100%;
        width: 100%;
        float: right;
        .wrapping {
            padding: 60px 16px;
            margin-bottom: 40px;
            z-index: 101;
            .desc {
                font-family: Open Sans;
                z-index: 101;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 30px;
                /* or 167% */

                text-align: center;

                /* Background */

                color: #fcfcfc;
                margin-bottom: 40px;
            }
            .number {
                z-index: 101;
                font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                line-height: 65px;
                text-align: center;

                /* White 100% */

                color: #ffffff;
            }
        }
    }
    .img {
        width: 100%;
        border-radius: 20px;
        max-width: 380px;
        right: 0;
        min-height: 700px;
        max-height: 10000px;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../../../../styles/assets/bg-section-act.svg");
    }
}
