// BUTTON
.ds-button {
  position: relative;
  display: inline-block;
  min-width: 180px;
  border: 2px solid $green;
  border-radius: 4px;
  background: $green;
  text-decoration: none;
  @include font-face($font-opensans, 1.6rem, 600);
  padding: 11px 20px;
  overflow: hidden;
  span {
    position: relative;
    color: $white;
    z-index: 2;
    transition: .5s all ease-in-out;
  }
  &:hover {
    span {
      color: $green;
    }
    &::before {
      width: 150%;
    }
    &::after {
      background: url('../../../assets/images/icons/arrow-right-hover.png') 0 0/cover no-repeat;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+31,ffffff+100&1+81,0+100 */
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    transition: .4s all ease-in-out;
  }
  &::after {
    content: "";
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('../../../assets/images/icons/arrow-right.png') 0 0/cover no-repeat;
    margin-left: 15px;
  }

  &.no-arrow {
    &::after {
      display: none;
    }
  }
}