.ds-section-desc {
    min-height: 818px;
    background: linear-gradient(180deg, #f2f7f7 58.39%, rgba(242, 247, 247, 0) 100%);
    width: 100%;
    padding-top: 106px;
    @include sm {
        padding-top: 60px;
    }
    .act {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        text-align: center;
        color: #040404;
        padding-top: 80px;
        @include sm {
            font-size: 2.4rem;
            padding-top: 60px;
        }
    }
    overflow: hidden;
    &-content {
        // margin-top: 106px;
        gap: 65px;
        max-width: 920px;
        height: fit-content;
        min-height: 380px;
        border-bottom: 1px solid #cecece;
        @include sm {
            border-bottom: none;
            gap: 28px;
            // padding-bottom: 60px !important;
        }
        #name-person {
            @include font-face($font-opensans, 1.6rem, 700);
            line-height: 22px;
            color: $text-primary;
        }
        #title-person {
            @include font-face($font-opensans, 1.4rem);
            line-height: 24px;
            color: $text-secondary;
        }
        .text-desc {
            @include font-face($font-opensans, 1.8rem);
            line-height: 30px;
            color: $text-primary;
            @include md {
                padding-bottom: 30px;
            }
            @include sm {
                @include font-face($font-opensans, 1.6rem);
            }
            .highlights {
                @include font-face($font-opensans, 1.8rem, 700);
                line-height: 30px;
                color: $primary-black;
                @include sm {
                    @include font-face($font-opensans, 1.6rem, 600);
                }
            }
        }
    }
}
