.ds-section {
  &-partners {
    padding-top: 80px;
    @include md() {
      padding-top: 60px;
    }
    &__clients {
      margin-bottom: 100px;
      &-title {
        @include font-face($font-opensans, 3.6rem, 700);
        color: $primary-black;
        margin-bottom: 40px;
        @include md() {
          font-size: 2.4rem;
        }
      }

      &-list {
        padding: 40px 33px;
        background: $white;
        box-shadow: 0px 0px 20px #EAEAEA;
        border-radius: 20px;
        @include md() {
          padding: 36px 22px;
        }
        ul {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
          list-style: none;
          padding: 0;
          margin: 0;
          margin-bottom: 24px;
          @include md() {
            gap: 28px 4px;
          }
          &:last-child {
            margin-bottom: 0;
          }
          li {
            display: inline-block;
          }
        }
      }
    }

    .slick-dots {
      @include md() {
        bottom: -70px;
      }
      li {
        width: auto;
        height: auto;
        button {
          width: 10px;
          height: 10px;
          margin: 0 auto;
          border-radius: 8px;
          padding: 0;
          transition: .3s all ease;
          background: #BFD7D7;
          &::before {
            display: none;
          }
        }
        &.slick-active {
          button {
            width: 28px;
            background: $green;
          }
        }
      }
    }
  }

  &__content {
    &-bod {
      max-width: 920px;
      gap: 65px;
      margin: 0 auto 80px;
      padding-bottom: 94px;
      border-bottom: 1px solid #CECECE;
      @include md() {
        margin: 0 auto 60px;
        padding-bottom: 60px;
      }
      &-detail {
        &-desc {
          @include font-face($font-opensans, 1.8rem);
          line-height: 30px;
          margin-bottom: 0;
          @include md() {
            font-size: 1.6rem;
            line-height: 25px;
          }
        }

        &-photo {
          > div {
            margin-bottom: 12px !important;
          }
          @include md() {
            margin-bottom: 28px;
            text-align: center;
          }
        }

        &-name {
          @include font-face($font-opensans, 1.8rem, 700);
          line-height: 25px;
          margin-bottom: 4px;
          @include md() {
            font-size: 1.6rem;
            line-height: 20px;
          }
        }

        &-position {
          @include font-face($font-opensans, 1.6rem);
          line-height: 21px;
          @include md() {
            font-size: 1.4rem;
            line-height: 20px;
          }
        }
      }
    }
  }
}