.ds-section {
  &__partners {
    padding-top: 80px;
    @include md() {
      padding-top: 60px;
    }
    &-clients {
      margin-bottom: 100px;
      &-title {
        @include font-face($font-opensans, 3.6rem, 700);
        color: $primary-black;
        margin-bottom: 40px;
        @include md() {
          font-size: 2.4rem;
        }
      }

      &-list {
        padding: 40px 33px;
        background: $white;
        box-shadow: 0px 0px 20px #EAEAEA;
        border-radius: 20px;
        @include md() {
          padding: 36px 22px;
        }
        ul {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
          list-style: none;
          padding: 0;
          margin: 0;
          margin-bottom: 24px;
          @include md() {
            gap: 28px 4px;
          }
          &:last-child {
            margin-bottom: 0;
          }
          li {
            display: inline-block;
          }
        }
      }
    }

    .slick-dots {
      @include md() {
        bottom: -70px;
      }
      li {
        width: auto;
        height: auto;
        button {
          width: 10px;
          height: 10px;
          margin: 0 auto;
          border-radius: 8px;
          padding: 0;
          transition: .3s all ease;
          background: #BFD7D7;
          &::before {
            display: none;
          }
        }
        &.slick-active {
          button {
            width: 28px;
            background: $green;
          }
        }
      }
    }


    .skeleton {
      &.ds-section__partners-clients-list {
        ul {
          li {
            .rect-shape {
              width: 120px !important;
              height: 70px !important;
              @include background-skeleton(5px);
            }
          }
        }
      }
    }
  }
}