.slick-slide > div {
    // transform: scale(0.5);
    margin-left: 30px;
    margin-top: 30px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.slick-center > div {
    transform: scale(1);
}

.slider__item > img {
    width: 100%;
    height: auto;
}
